[submodule "Eagle/vendor/spdlog"]
	path = Eagle/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Eagle/vendor/GLFW"]
	path = Eagle/vendor/GLFW
	url = https://github.com/IceLuna/glfw
[submodule "Eagle/vendor/imgui"]
	path = Eagle/vendor/imgui
	url = https://github.com/IceLuna/imgui
