# Directories
.vs/
bin/
bin-int/
Eagle-Editor/Engine/
Eagle-Editor/Cache/*
Eagle-Editor/Saved/*
Eagle-Editor/Eagle-Editor.exe
Eagle-Editor/Eagle-Game.exe
Eagle-Editor/fmod.dll
Eagle-Editor/fmodL.dll
Eagle-Editor/mono-2.0-sgen.dll
Eagle-Editor/shaderc_sharedd.dll
Eagle-Editor/shaderc_shared.dll
Eagle-Editor/zlib.dll
Sandbox/Cache/*

# Files
*.sln
*.pdb
*.csproj
*.user
*.vcxproj
*.vcxproj.filters
*.json
*.log
imgui.ini
Eagle-Editor/Engine/EditorDefault.ini

