# Directories
.vs/
bin/
bin-int/
Eagle/vendor/VulkanSDK/**
Eagle-Editor/Engine/
Sandbox/Cache/*

# Files
*.sln
*.pdb
*.csproj
*.user
*.vcxproj
*.vcxproj.filters
*.json
*.log
imgui.ini
Eagle-Editor/Engine/EditorDefault.ini

